<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre em contato comigo. S2</title>
</head>
<!-- Cabeçalho do meu site-->
<body style="color: blueviolet;">
    <header style="display: flex;">
<!--Aqui começa meu Logo-->
<section>
    <img src="yae mini2.jpg" alt="Foto de Perfil" height="200px" width="200">
</section>
<!--Navegação (menu)-->
<nav>
    <br><br>
    <a href="mySite.html">Sobre mim</a>&nbsp;&nbsp;
    <a href="entreterimento.html">Entreterimento</a>&nbsp;&nbsp;
    <a href="music.html">Música</a> &nbsp;&nbsp;
    <a href="contato.html">Entre em contato comigo!</a>
</nav>
<hr>
    </header>
</head>
<hr>
<body>
    <h3>Fale comigo! ^^</h3>
    <fieldset>
    <article>
        <form action="mailto:alexandernascimento@gmail.com" method="post" id="fContato" oninput="result.value=parseInt(Valor_01.value)+parseInt(Valor_02.value)"></form>
            <label for="cNome">Nome</label><br>
            <input type="text" size="50" name="tNome" id="cNome" required="required" placeholder="Seu nome">
            <br><br>
            <label for="cNome">E-mail</label><br>
            <input type="text" size="50" name="tNome" id="cNome" required="required" placeholder="Seu E-mail">
            <br><br>
            <label for="cNome">ZapZap</label><br>
            <input type="text" size="50" name="tNome" id="cNome" required="required" placeholder="Passa o Zap">
            <br><br>
            <label for="cNome">Data de Nascimento</label><br>
            <input type="text" size="50" name="tNome" id="cNome" required="required" placeholder="Sua data de nascimento">
            <br><br>
            <hr>
            <p><legend><strong>Caso tenha gostado do meu trabalho, fique a vontade para mandar uma mensagem!!^^</strong></legend></p>
        
        <textarea name="message" rows="10" cols="50" required placeholder="Deixe aqui a sua mensagem!"> </textarea> 
        <img src="yae mini.png" width="200" height="200" style="float :right">
        <br><br>
        <input type="submit" value="Enviar">
        </article>
    </fieldset>
    <br><br>
            <footer>
                By Alexander&copy;
            </footer>
</body>
</html>