<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus lazeres</title>
</head>
<body style="color: blueviolet;">
    <!-- Cabeçalho do meu site-->
<body>
    <header style="display: flex;">
<!--Aqui começa meu Logo-->
<section>
    <img src="yae mini2.jpg" alt="Foto de Perfil" height="200px" width="200">
</section>
<!--Navegação (menu)-->
<nav>
    <br><br>
    <a href="mySite.html">Sobre mim</a>&nbsp;&nbsp;
    <a href="entreterimento.html">Entreterimento</a>&nbsp;&nbsp;
    <a href="music.html">Música</a> &nbsp;&nbsp;
    <a href="contato.html">Entre em contato comigo!</a>
</nav>
<hr>
    </header>
    <!--Conteudo de entreterimento-->
    <!--Exemplo de uso <article>-->
        <hr>
        <article>
            <h3>Boku no Hero</h3>
            <h6>Nível: 3/5</h6>
        <p>
            <img src="deku.png" alt="Deku" height="200" width="400">
        </p>
        <p>
            Boku no Hero fala sobre um mundo onde todos tem poderes <br>
            O protagonista se chama midoriya e seu sonho é se tornar um héroi.
        </p>
        <p>
            Conheça mais sobre Boku no Hero: &nbsp; <a href="https://www.crunchyroll.com/pt-br/series/G6NQ5DWZ6/my-hero-academia">Leia +</a>
        </p>
        <hr>
        <h3>Fate/Apocrypha</h3>
            <h6>Nível: 5/5</h6>
        <p>
            <img src="rainha.png" alt="Deku" height="200" width="400">
        </p>
        <p>
            Esse anime é sobre a guerra do santo graal, onde 12 pessoas vão lutar ate a morte <br>
            Cada participante ganha um servo para essa guerra <br>
            Os servos são personagens historicos da idade antiga.
        </p>
        <p>
            Conheça mais sobre Fate/Apocrypha: &nbsp; <a href="https://typemoon.fandom.com/wiki/Semiramis">Leia +</a>
            <p>
                <hr>
                <h3>Genshin impact</h3>
                <h6>Nível: 4/5</h6>
            </p>
            <img src="yae.png" alt="Yae rainha" height="200" width="400">
            </p>
            <p>
                Um jogo no estilo gacha e rpg <br>
                Genshin é um dos meus jogos favoritos onde tem uma exploração de mundo gigante.
            </p>
            <p>
                Conheça mais sobre o mundo de genshin &nbsp; <a href="https://genshin-impact.fandom.com/pt-br/wiki/Yae_Miko">Leia +</a>
            </p>
            <hr>
            <h3>Baldur's Gate3</h3>
            <h6>Nível: 4/5</h6>
        </p>
        <img src="rgp.png" alt="rpg" height="200" width="400">
    </p>
    <p>
        Um RPG de turnos com total lore do D&D <br>
        Com uma ótima criação de personagens e combate maravilhoso.
        </p>
        <p>
            Conheça mais sobre o jogo!!! &nbsp; <a href="https://store.steampowered.com/agecheck/app/1086940/">Leia +</a>
        </p>
    </p>
    <hr>
    <h3>GTA RP/FiveM</h3>
    <h6>Nível: 5/5</h6>
</p>
<p>
    <img src="fivem.png" alt="gta rp" height="200" width="400">
</p>
<p>
    Um simulador da vida real dentro do GTA 5 <br>
    Onde conheçemos varias pessoas novas e passamos momentos perfeitos.
</p>
<p>
    Conheça mais sobre esse jogo maravilhoso!! &nbsp; <a href="https://fivem.net/">Leia +</a>
</p>
        </article>
    </p>
        <footer>
            By Alexander &copy;
        </footer>
</body>
</html>