<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Músicas</title>
</head>
<body style="color: blueviolet;">
    <!-- Cabeçalho do meu site-->
<body>
    <header style="display: flex;">
<!--Aqui começa meu Logo-->
<section>
    <img src="yae mini2.jpg" alt="Foto de Perfil" height="200px" width="200">
</section>
<!--Navegação (menu)-->
<nav>
    <br><br>
    <a href="mySite.html">Sobre mim</a>&nbsp;&nbsp;
    <a href="entreterimento.html">Entreterimento</a>&nbsp;&nbsp;
    <a href="music.html">Música</a> &nbsp;&nbsp;
    <a href="contato.html">Entre em contato comigo!</a>
</nav>
<hr>
    </header>
<hr>
    <!--Seção para minha playlist-->
    <fieldset>
    <main>
        <h3>Top 10 das minhas músicas</h3>
        <ol>
            <li>Aurora - Cure For Me</li><br>
            <li>Lana Del Rey - summertime sadness</li><br>
            <li>Sia - No New Frind</li><br>
            <li>Supercombo - Piloto automático</li><br>
            <li>carol biazin - Fica Pro café</li><br>
            <li>Pabllo Vittar - Ouro</li><br>
            <li>Poesia Acústica 14</li><br>
            <li>2ne1 - i am the best</li><br>
            <li>Twice - TT</li><br>
            <li>Urias- Foi Mal</li><br>
        </ol>
    </main>
</fieldset>
    <footer>
        By Alexander &copy;
    </footer>
</body>
</html>