<!DOCTYPE html>
<html lang="pt br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<!-- Cabeçalho do meu site-->
<body style="color: blueviolet;">
    <header style="display: flex;">
<!--Aqui começa meu Logo-->
<section>
    <img src="yae mini2.jpg" alt="Foto de Perfil" height="200px" width="200">
</section>
<!--Navegação (menu)-->
<nav>
    <br><br>
    <a href="mySite.html">Sobre mim</a>&nbsp;&nbsp;
    <a href="entreterimento.html">Entreterimento</a>&nbsp;&nbsp;
    <a href="music.html">Música</a> &nbsp;&nbsp;
    <a href="contato.html">Entre em contato comigo!</a>
</nav>
<hr>
    </header>
    <hr>
    <!--Conteudo principal-->
    <main>
        <h1>Welcome to my  Universe</h1>
        <p>
            Me chamo Alexander tenho 20 anos e tenho como hobby jogar rpg.<br> Amo escutar música e cuidar dos meus pets.^^      
            <h3>Coisas sobre mim</h3>
            <!--Lista não ordenada-->
            <ul>
                <li>Sou bastante eclético</li>
                <li>Jogo LOL</li>
                <li>Tenho um grupo de Discord com bastante conteúdo</li>
                <li>Tenho um gato chamado gnar</li>
            </ul>
            </p>
            </main>
            <!--Rodapé-->
            <footer>
                By Alexander &copy;
            </footer>
    </p>
</body>
</html>